// HEADER

.site-header {
	background-color: $primary;
	border-bottom: none;
	
	.site-branding {
		
		@include widest {
			padding-bottom: 2.6em;
		}

		.site-title,
		.site-description {
			color: $darkest;
		}
		
		.site-description {
			@extend %font-weight-bold;
		}

	}

	.site-search {
		input[type=search] {
			background-color: $sale !important;
			box-shadow: none;
		}
	}

}