// VARIABLES

// Colors

$primary: #b0dbd2;
$secondary: #f7f7f7;
$brand: #f3a591;
$darkest: #000;
$lightest: #fff;
$sale: #f3deb3;

// Fonts

@import url('https://fonts.googleapis.com/css?family=Athiti|Domine');

$font-main: 'Domine', 'Times New Roman', serif;
$font-aux: 'Athiti', Helvetica, Arial, san-serif;
